.cardGame {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-around;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    max-width: 50%;
    margin: 20px auto;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

.answersGame {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-around;
    margin: 0 10%;
}

.answersGame button {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.answersGame button:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.answersGame button:active {
    position: relative;
    top: 1px;
}

.title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.title .counter {
    font-weight: 700;
    font-size: 20px;
}

.title .counter #hits {
    color: aquamarine;
}